

//@import 'bootstrap';


@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "nav";
@import "navbar";
@import "close";
@import "toasts";
@import "spinners";
@import "utilities";



html{
    //font-size: 16px;
    min-height: 100vh;
    font-size: 100%;

}

#loader{
  display: flex;
}

header{
    padding: 0;
    //height: 100px;
}

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
   /* font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;*/
  }

  #menu{
    
    position: fixed;
    top: 0;
    right:0;
    z-index:1030;
    text-align: right;
    background-color: #FFFFFFB1;
    width: 200px; //20vw;
    font-family: source-sans-pro, sans-serif;
    letter-spacing: 3.2px;
    color: #010101;
  }

  i{
    letter-spacing: 0.8px;
    font-family: aw-conqueror-didot, serif;
  }

  .navbar-collapse{
    height: 100vh;
    //width: 200px; //20vw;
  }
main{
  //background-color: red;
  background-color: white;
}



main {
    flex: 1;
}

.hp{
  display:flex; 
  flex-direction:column;
  justify-content: center; 
}

.collection{
  background-image: url('../img/accueil/MUMO-OBJET-6.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  opacity: 0.5;
}

.collection:hover{
 //background: transparent url('../img/accueil/MUMO-OBJET-6.png') 0% 0% no-repeat padding-box;
  //background-image: none;
  opacity: 1;
}

.surmesure{
  background-image: url('../img/accueil/MUMO-SURMESURE.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  opacity: 0.5;
}

.surmesure:hover{
  //background-image: url('../img/accueil/MUMO-SURMESURE.png');
  opacity: 1;
}

a{
  color: #010101;
  text-decoration: none;
  //transition: all 1s;
  //font-weight: 400;
}
a:hover{
  color: #010101;
  text-decoration: none;
  font-weight: 600;
}

h1{
  font-size: 3rem;
  font-family: aw-conqueror-didot, serif;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

h1:hover{
  text-decoration: underline;
}


h2{
  font-size: 2rem;
  //font-family: 'GFS Didot', serif;
  font-family: aw-conqueror-didot, serif; // light 300 bold 700
  font-weight: 700;
}

h3{
  font-size: 1.3rem;
  font-family: aw-conqueror-didot, serif;
  font-weight: 700;
}

h4{
  font-size: .7rem;
  font-family: source-sans-pro, sans-serif;
  //font: normal normal normal 13px/17px source-sans-pro;
  letter-spacing: 2.6px;
  font-weight: 400;
}


footer {
  height: 30px;
  font-size: 0.6rem;
}

.rs{ // réseaux sociaux
  width: 22px;
  margin: 5px;
}


.popup{
  position: fixed;
  width: 100%;
  height:100%;
  //background-color: rgba(197, 202, 198, .5); 
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;
  padding-top: 10vh;
  display: none;
  z-index: 50000;
  transition: all .3s ease-out;
  -webkit-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
}


.popupcontent{
  position: relative; 
background-color: #FFFFFF;
height:90%;
   margin : 0 auto;
  //box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); 
  overflow: auto;
  border: #000000 1px solid;
}

.popupcontent a{
  color: #010101;
  text-decoration: underline;
}

.popupcontent a:hover{
  color: #010101;
  text-decoration: none;
}



.fermernl{
	position: absolute;
	top: 51px;
	right: 41px;
    z-index: 999;
   /*     transform: rotate(45deg);
    transform-origin: center;*/
}

.btnfermernl{
	/*background-color: transparent;
	color: #C96B54;
	font-size: 2rem;*/
	border: none;
	-webkit-transition: all 1s; /* Safari prior 6.1 */
	transition: all 1s;
	cursor: pointer;
}

.btnfermernl:hover{
	/*color: #2B3441;
	border: none;
	outline: none;*/
	-webkit-transition: all 1s; /* Safari prior 6.1 */
	transition: all 1s;
}


@media only screen and (max-width: 768px) {


  html{
    font-size: 70%;

}

}