

//@import 'bootstrap';


@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "nav";
@import "navbar";
@import "close";
@import "toasts";
@import "spinners";
@import "utilities";



html{
    //font-size: 16px;
    min-height: 100vh;
    font-size: 100%;

}

html, 
body {
    height: 100%;
}
/*
body {
  min-height:100vh;
}

.flex-fill {
  flex:1 1 auto;
}
*/
#loader{
  display: flex;
}

header{
    padding: 0;
    //height: 100px;
}




  .bodyhp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
   /* font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;*/
  }


  #btnmenu{
    background-color: transparent;
    position: fixed;
    top: 0;
    right:0;
    z-index:1050;
    color: #010101;
  
  padding: 0rem 2rem;
}


  #menu{
    background-color: transparent;
    position: fixed;
    top: 0;
    right:0;
    z-index:1030;
    text-align: right;
    //background-color: #FFFFFFB1;
    width: 200px; //20vw;
    font-family: source-sans-pro, sans-serif;
    letter-spacing: 3.2px;
    color: #010101;
  }

  i{
    letter-spacing: 0.8px;
    font-family: aw-conqueror-didot, serif;
  }


  .navbar-brand img{
    width: 85px;
    max-width: 90%;;
  }
  

  .navbar-collapse{
    height: 100vh;
    //width: 200px; //20vw;
  }

  .navbar{
    background-color: #FFFFFFB1;
  }


	.bar1,.bar3  {   
    width: 25px;
      height: 2px;
      background-color: #000; /*82D173*/
      margin-top: 0;
      transition: 0.4s;
  }
    
    
    .bar2 {
      width: 25px;
      height: 2px;
      background-color: #000; /*82D173*/
      margin: 6px 0;
      transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: translate(0px, 8px) rotate(-45deg); /*translate(-9px, 6px);*/
    transform: translate(0px, 8px) rotate(-45deg); /*translate(-9px, 6px);*/
	background-color:  #000;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: translate(0px, -8px) rotate(45deg); /*translate(-8px, -8px);*/
    transform: translate(0px, -8px) rotate(45deg); /* translate(-8px, -8px);*/
	background-color:  #000;
}






main{
  //background-color: red;
  background-color: white;
}



main {
    flex: 1;
}

.hp{
  display:flex; 
  flex-direction:column;
  justify-content: center; 
}

.collection{
  background-image: url('../img/accueil/MUMO-OBJET-6.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  opacity: 0.5;
}

.collection:hover{
 //background: transparent url('../img/accueil/MUMO-OBJET-6.png') 0% 0% no-repeat padding-box;
  //background-image: none;
  opacity: 1;
}

.surmesure{
  background-image: url('../img/accueil/MUMO-SURMESURE.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  opacity: 0.5;
}

.surmesure:hover{
  //background-image: url('../img/accueil/MUMO-SURMESURE.png');
  opacity: 1;
}

a{
  color: #010101;
  text-decoration: none;
  //transition: all 1s;
  //font-weight: 400;
}
a:hover{
  color: #010101;
  text-decoration: none;
  font-weight: 600;
}

h1{
  font-size: 3rem;
  font-family: aw-conqueror-didot, serif;
  font-weight: 700;
  letter-spacing: 0.215rem;
}

h1:hover{
  text-decoration: underline;
}


h2{
  font-size: 2rem;
  //font-family: 'GFS Didot', serif;
  font-family: aw-conqueror-didot, serif; // light 300 bold 700
  font-weight: 700;
}

h3{
  font-size: 1.3rem;
  font-family: aw-conqueror-didot, serif;
  font-weight: 700;
}

.soustitre13{ //h4
  font-size: .7rem;
  font-family: source-sans-pro, sans-serif;
  //font: normal normal normal 13px/17px source-sans-pro;
  /*letter-spacing: 2.6px;*/
  letter-spacing: 0.163rem;
  font-weight: 400;
  color: #000;
}

.soustitre21{ 
  font-size: 1.1rem;
  font-family: source-sans-pro, sans-serif;
  //font: normal normal normal 21px/27px Source Sans Pro;
  /*letter-spacing: 4.2px;*/
  letter-spacing: 0.25rem;
  font-weight: 400;
  color: #000;
}


.petittitrepage{ 
  font-size: 1.2rem;
  font-family: aw-conqueror-didot, serif; 
  /*letter-spacing: 2.2px;*/
  letter-spacing: 0.15rem;
  font-weight: 700;
  color: #010101;
}

.titreproduit{ 
  font-size: 3rem;
  font-family: aw-conqueror-didot, serif; 
  /*letter-spacing: 3.24px;*/
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #010101;
}


footer {
  //height: 30px;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  font-family: source-sans-pro, sans-serif;
}

.rs{ // réseaux sociaux
  width: 28px;
  margin: 5px;
}


.popup{
  position: fixed;
  width: 100%;
  height:100%;
  //background-color: rgba(197, 202, 198, .5); 
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;
  padding-top: 10vh;
  display: none;
  z-index: 50000;
  transition: all .3s ease-out;
  -webkit-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
}


.popupcontent{
  position: relative; 
background-color: #FFFFFF;
height:90%;
   margin : 0 auto;
  //box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); 
  overflow: auto;
  border: #000000 1px solid;
}

.popupcontent a{
  color: #010101;
  text-decoration: underline;
}

.popupcontent a:hover{
  color: #010101;
  text-decoration: none;
}



.fermernl{
	position: absolute;
  top: 4vh;
  right: 4vh;
	//top: 51px;
	//right: 41px;
    z-index: 999;
   /*     transform: rotate(45deg);
    transform-origin: center;*/
}

.btnfermernl{
	/*background-color: transparent;
	color: #C96B54;
	font-size: 2rem;*/
	border: none;
	-webkit-transition: all 1s; /* Safari prior 6.1 */
	transition: all 1s;
	cursor: pointer;
}

.btnfermernl:hover{
	/*color: #2B3441;
	border: none;
	outline: none;*/
	-webkit-transition: all 1s; /* Safari prior 6.1 */
	transition: all 1s;
}





////////// cOLLECTION ///////////


#collection {
  //min-height: 100%;

}

/*
#collection {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
*/


.produitcollection{
  display:flex; 
  flex-direction:column;
  justify-content: flex-end; 
  height: 60vh;
  //width: 60vh;
}





@media only screen and (max-width: 1200px) {


  html{
    font-size: 80%;

}

}


@media only screen and (max-width: 1024px) {


  html{
    font-size: 75%;

}

}

@media only screen and (max-width: 768px) {


  html{
    font-size: 70%;

}

.navbar-brand img{
  width: 50px;
}


}

@media only screen and (max-width: 576px) {


.popup{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh;
}

#menu{
  width: 100%;
  background-color: #FFFFFF;
  font-size: 1.5rem;
}

.navbar-nav{
  width: 100%;
  padding-top: 20vh;
}



}